.container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.container div {
    text-align: center;
    text-shadow: 0 0 5px black;
    font-size: 35px;
    position: absolute;
}
.div1 {
    margin: 0 27%;
    z-index: 5;
    animation: move1 infinite 21s forwards alternate;
}
@keyframes move1 {
    0% {margin: 0 50%};
    25% {margin: 10% 20%};
    50% {margin: 5% 30%};
}

.div2 {
    z-index: 6;
    animation: move2 infinite 31s forwards alternate;
}
@keyframes move2 {
    0% {margin: 10% 5%};
    25% {margin: 0% 50%};
    50% {margin: 5% 30%};
}

.div3 {
    z-index: 7;
    animation: move3 infinite 35s forwards alternate;
}
@keyframes move3 {
    0% {margin: 10% 70%};
    25% {margin: 0% 30%};
    50% {margin: 25% 20%};
    70% {margin: 0% 70%};
}

.div4 {
    z-index: 8;
    animation: move4 21s infinite  alternate-reverse;
    animation: name duration  direction fill-mode;
}
@keyframes move4 {
    0% {margin: 0% 70%};
    25% {margin: 25% 20%};
    50% {margin: 1% 70%};
    100% {margin: 0% 30%};
}

