body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
background: rgb(11,11,93);
background: -moz-linear-gradient(262deg, rgba(11,11,93,0.9248074229691877) 23%, rgba(40,32,64,1) 47%, rgba(90,50,124,1) 71%);
background: -webkit-linear-gradient(262deg, rgba(11,11,93,0.9248074229691877) 23%, rgba(40,32,64,1) 47%, rgba(90,50,124,1) 71%);
background: linear-gradient(262deg, rgba(11,11,93,0.9248074229691877) 23%, rgba(40,32,64,1) 47%, rgba(90,50,124,1) 71%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b0b5d",endColorstr="#5a327c",GradientType=1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app {
  background-color: rgba(255, 0, 0, 0.427);
  display: flex;
  flex-direction: column;
}
/* Navbar */

.aaa {
  display: flex;
}


/* Home */

.chart-coin {
  width: 100%;
  height:auto;
}

.Graph  {
  width: 90%;
  height: auto;
  align-items: center;
  padding: 15px;
  border: solid 1px gray;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.093);
  border-radius: 15px;

  background: rgb(4,4,55);
background: -moz-linear-gradient(317deg, rgba(4,4,55,0.9248074229691877) 23%, rgba(53,32,64,1) 53%, rgba(90,50,124,1) 86%);
background: -webkit-linear-gradient(317deg, rgba(4,4,55,0.9248074229691877) 23%, rgba(53,32,64,1) 53%, rgba(90,50,124,1) 86%);
background: linear-gradient(317deg, rgba(4,4,55,0.9248074229691877) 23%, rgba(53,32,64,1) 53%, rgba(90,50,124,1) 86%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#040437",endColorstr="#5a327c",GradientType=1);
}

/*  */

/* .Coin {
  width: 96%;
  height: 1200px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: aliceblue; */
 */


.Table{
  width: 90%;
  text-align: center;
}

.infoList  {
  border: solid 1px;
  border-radius: 15px;
}
.infoList {
  text-align: center;
}
.infoList:nth-child(odd) {
  background-color: rgba(44, 48, 51, 0.548);
}


@media screen and (max-width:961px) {
  .display {
    display: none;
  }
}
@media screen and (max-width:761px) {
  .display2 {
    display: none;
  }
}
@media screen and (max-width:651px) {
  .display3 {
    display: none;
  }
}
@media screen and (max-width:500px) {
  .display4 {
    display: none;
  }
}


/* ------------------- */
.Nft {
  width: 100%;
  height: auto;
  padding: 0 25px;
  color: aliceblue;

}
.container {
  display: grid;
  grid-template-columns:auto auto auto;
}
.container-cars {
  width: 490px;
  height: 150px;
  margin: 2px;
  /* background-color:'brown'; */
  background-image: linear-gradient(135deg, #29323c 10%, #485563 100%);
}
.container-cars:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Cards {
  border-radius: 15px;
  padding: 20px ;
  color:'wheat' ;
  margin:5 ;
  line-break: anywhere;
}
/* ------------ */
.textMove {
  width: 90%;
  height: 50px;
  background-color: rgba(250, 235, 215, 0.432);
}
.w-full{
  width: 100%;
  height: 100px;
}

.containerTextMove {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.contentText {
  width: 120px;
  height: 20px;
  display: flex;
}

/* TradeViewChar ----------------- */
